<mat-toolbar class="toolbar-main" color="primary">
  <div class="left-group-header">
    <ng-content class="menu-icon"></ng-content>
    <span>Dreamteam Technologies</span>
  </div>
  <span class="spacer"></span>
  <div class="right-group-header">
    <form class="auto-form">
      <mat-form-field class="search-field" floatLabel="never">
        <mat-label>Enter task name</mat-label>
        <input matInput type="text" placeholder="Enter task name" [formControl]="myControl" [matAutocomplete]="auto"
               class="search-input">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option (click)="openTaskDetailsWindow(option)" *ngFor="let option of filteredOptions | async"
                      [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
    <div class="user-details">
      <span class="span-username">{{user?.displayName}}</span>
      <!--      <mat-icon>account_circle</mat-icon>-->
      <img width="35px" height="35px" [src]="user?.photoURL"
           [ngStyle]="{'border-radius': '50%', 'margin-left': '5px'}">
    </div>
    <app-button class="settings-button" [iconName]="iconsName.settings" [menuAccBtn]="true"></app-button>
  </div>
</mat-toolbar>
