<mat-toolbar class="toolbar-main" color="primary">
  <div class="left-group-header">
    <app-button [iconName]="iconsName.menu" class="menu-icon"></app-button>
    <span>Dreamteam Technologies</span>
  </div>
  <span class="spacer"></span>
  <div class="right-group-header">
    <mat-form-field class="search-field" floatLabel="never">
      <input matInput type="search" placeholder="Search here" class="search-input">
    </mat-form-field>
    <div class="user-details">
      <span class="span-username">{{user?.displayName}}</span>
      <mat-icon>account_circle</mat-icon>
    </div>
    <app-button class="settings-button" [iconName]="iconsName.settings" [menuAccBtn]="true"></app-button>
  </div>
</mat-toolbar>
