<div class="task-descr-wrapper">
  <div class="left-main-group">
    <div class="left-group-header">
      <div class="span-header">
        <mat-icon>web</mat-icon>
        <span
          [ngStyle]="{'font-size': '23px', 'font-weight': 'bold', 'margin-left': '10px'}">{{data?.item?.name}}</span>
        <app-button [style.margin-bottom]="'5px'" [expand]="true" [iconName]="'update'" (click)="editWindow(data?.item)"
                    routerLink="task/{{data?.item?.id}}"></app-button>
      </div>
      <div [style.margin]="'10px 25px'">
        <span>in group <strong>{{data?.item?.group | uppercase}}</strong></span>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="description-wrapper">
      <div class="description-header">
        <mat-icon>description</mat-icon>
        <span [ngStyle]="{'font-size': '18px', 'font-weight': 'bolder'}">Attached files</span>
      </div>
      <div class="attached-files" *ngIf="data?.item?.images">
        <img [src]="img" width="120" height="90" [style.display]="'block'" *ngFor="let img of imagesArr"/>
      </div>
      <div class="description-btn-group" (click)="uploadFile.click()">
        <button mat-raised-button color="primary">Upload new</button>
        <input #uploadFile (change)="onFileSelected($event)" type='file' style="display:none" autocomplete="off"/>
        <progress max="100" [value]="progress"></progress>
      </div>
      <mat-divider></mat-divider>
    </div>
    <div class="description-wrapper">
      <div class="description-header">
        <mat-icon [style.margin]="'0 5px 5px 0'">menu_book</mat-icon>
        <span [ngStyle]="{'font-size': '18px', 'font-weight': 'bolder'}">Description</span>
      </div>
      <div class="current-value">
        {{data?.item?.description}}
      </div>
      <mat-divider [style.margin-top]="'5px'"></mat-divider>
    </div>
    <div class="actions-wrapper">
      <div class="actions-header">
        <mat-icon>grading</mat-icon>
        <span [ngStyle]="{'font-size': '18px', 'font-weight': 'bolder'}">Actions</span>
      </div>
      <div class="comment-field">
        <div class="field">

        </div>
        <div class="comment-btn-group">

        </div>
      </div>
      <div class="all-actions" *ngIf="history !== []">
        <div class="current-action" *ngFor="let taskHistory of history">
          <mat-icon [style.margin-right]="'5px'">tips_and_updates</mat-icon>
          <div>
            {{taskHistory}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <mat-divider [vertical]="true" [ngStyle]="{'margin': '0 10px 0 15px'}"></mat-divider>
  <div class="right-main-group">
    <div class="right-group-header">
      <div class="curr">
        <mat-icon>event</mat-icon>
        <span [ngStyle]="{'font-size': '18px', 'font-weight': 'bolder'}">Due Date</span>
      </div>
      <div class="current-value">
        {{data?.item?.dueDate | date}}
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="right-group-header">
      <div class="curr">
        <mat-icon>done_all</mat-icon>
        <span [ngStyle]="{'font-size': '18px', 'font-weight': 'bolder'}">Priority</span>
      </div>
      <div class="current-value">
        {{data?.item?.priority | uppercase}}
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="right-group-header">
      <div class="curr">
        <mat-icon>how_to_reg</mat-icon>
        <span [ngStyle]="{'font-size': '18px', 'font-weight': 'bolder'}">Created by</span>
      </div>
      <div class="current-value">
        {{user?.displayName}}
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="right-group-header">
      <div class="curr">
        <mat-icon>new_releases</mat-icon>
        <span [ngStyle]="{'font-size': '18px', 'font-weight': 'bolder'}">Date Of Creation</span>
      </div>
      <div class="current-value">
        {{createDate | date: 'medium'}}
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="right-group-header">
      <div class="curr">
        <mat-icon>published_with_changes</mat-icon>
        <span [ngStyle]="{'font-size': '18px', 'font-weight': 'bolder'}">Update Date</span>
      </div>
      <div class="current-value">
        {{updateDate | date: 'medium'}}
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="right-group-header">
      <div class="curr">
        <mat-icon>assignment_ind</mat-icon>
        <span [ngStyle]="{'font-size': '18px', 'font-weight': 'bolder'}">Assigned to:</span>
      </div>
      <div class="current-value">
        {{updateDate | date: 'medium'}}
      </div>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
