<h2 [style.font-weight]="'bold'">Hospital admin</h2>
<h3>Dashboard<span [style.font-weight]="'lighter'"> / Task Board</span></h3>
<div class="progress">
  <span [style.font-weight]="'bold'">PROGRESS 30%</span>
  <div class="add-group-btn">
    <button mat-icon-button (click)="getData()">
      <mat-icon>autorenew</mat-icon>
    </button>
    <app-button [iconName]="iconsName.add" [buttonText]="buttonText.create" [stroked]="true"></app-button>
    <app-button [iconName]="iconsName.add_circle_outline" [buttonText]="buttonText.addTask" [stroked]="true" (click)="openDialog()"></app-button>
  </div>
  <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
</div>
