.main-wrapper {
  min-height: 100vh;
  background-image: url("../../assets/main_back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  min-height: 60%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 60%;
  min-height: 180px;
  border-radius: 10px;
  border: 1px transparent solid;
  background-color: white;
  opacity: 0.7;
}

.first {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.form-name {
  max-width: 60%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form-name span {
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
}

.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.google-item span {
  font-size: 16px;
  margin: 30px 10px;
}

@media screen and (max-width: 1191px) {
  .form-name span {
    font-size: 15px;
  }
}
