<div class="main-wrapper" *ngIf="!user">
  <div class="form-wrapper">
    <div class="form">
      <div class="first">
        <div class="form-name">
          <span>Get Started With Dreamteam Technologies</span>
        </div>
        <div class="header-img">
          <img src="https://smarthr.dreamguystech.com/light/assets/img/logo2.png" width="60px" height="60px">
        </div>
      </div>
      <div class="google-item">
        <span>SignIn With Google</span>
        <button mat-fab color="warn" matTooltip="Google" (click)="login()">G</button>
      </div>
    </div>
  </div>
</div>
