<div class="list-gen">
  <div class="list-header" [style.background-color]="genColor">
    <span [style.margin-left]="'20px'">{{itemName}}</span>
    <app-button [style.color]="'white'" [stroked]="false" [iconName]="'more_vert'"></app-button>
  </div>

  <div *ngIf="arrayList" class="list-content" cdkDropList (cdkDropListDropped)="drop($event)"
       [cdkDropListData]="arrayList">
    <div class="list-item" cdkDrag *ngFor="let task of (tasks | async)">
      <div class="inner-item-container">
        <div class="item-title">
          <span>{{task.taskName}}</span>
          <div>
            <button mat-icon-button (click)="delete(task.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <app-button [expand]="true" [iconName]="'expand_more'"></app-button>
          </div>
        </div>
        <div class="item-progress">
          <span>70%</span>
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </div>
        <div class="bottom-item">
          <div class="item-bottom-status">
            <mat-icon [style.margin-right.px]="5">schedule</mat-icon>
            <span>due time</span>
          </div>
          <button mat-raised-button class="status-btn" color="primary">Low</button>
        </div>
      </div>
    </div>
  </div>
</div>
