<div class="list-gen">
  <div class="list-header" [style.background-color]="genColor">
    <span [style.margin-left]="'20px'">{{itemName}}</span>
    <app-button [style.color]="'white'" [stroked]="false" [iconName]="'more_vert'"></app-button>
  </div>

  <div *ngIf="arrayList" class="list-content" cdkDropList (cdkDropListDropped)="drop($event)"
       [cdkDropListData]="arrayList">
    <div class="list-item" cdkDrag *ngFor="let arrayItem of arrayList">
      <div class="inner-item-container">
        <div class="item-title">
          <span>{{arrayItem}}</span>
          <app-button [stroked]="false" [iconName]="'expand_more'"></app-button>
        </div>
        <div class="item-progress">
          <span>70%</span>
          <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
        </div>
        <div class="bottom-item">
          <div class="item-bottom-status">
            <mat-icon [style.margin-right.px]="5">schedule</mat-icon>
            <span>due time</span>
          </div>
          <button mat-raised-button class="status-btn" color="primary">Low</button>
        </div>
      </div>
    </div>
  </div>
</div>
