.toolbar-main {
  background: linear-gradient(to right,#667eea 0%,#764ba2 100%);
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 1px #0003;
}

.general-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  width: 90%;
  height: 100px;
  margin: 10px 15px ;
}

.header-wrapper h3 {
  margin-left: 10px;
}

.item-progress {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
  padding: 5px;
}

.bottom-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-bottom-status {
  display: flex;
  align-items: center;
}

.item-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 12px;
  margin: 0;
}

.item-title span {
  font-size: 16px;
  font-weight: bolder;
}

.status-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15px;
  height: 25px;
}

.progress-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-top: 45px;
  width: 90%;
  min-height: 90vh;
  background-color: antiquewhite;
  padding: 15px;
  overflow: hidden;
}

.list-gen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  min-height: 300px;
  background-color: #E1F5FE;
  opacity: 0.8;
  margin-right: 25px;
  border: 1px solid rgba(0, 0, 0, 0.37);
  border-radius: 10px;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 10px 10px 0 0;
}

.list-header span {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.list-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 110px;
  padding: 10px;
}

.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 90%;
  height: 130px;
  background-color: white;
  margin-bottom: 10px;
}

.add-task-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 5px;
}

.progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.search-field {
  margin: 5px 25px;
}

div {
  overflow: inherit;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-spacer {
  flex: 1 1 auto;
}

.span-username {
  margin-right: 5px;
}
