
.list-wrapper-container {
  position: relative;
  top: 10px;
  left: 200px;
  display: flex;
  justify-content: center;
  width: 200px;
  min-height: 100px;
  background-color: darkkhaki;
  opacity: 0.7;
  border-radius: 20px;
}

.list-item {
  margin: 10px;
  width: 80%;
  height: 25px;
  background-color: aliceblue;
  opacity: 0.8;
}

.search-field {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.search-icon {
  display: flex;
  align-items: flex-end;
}

.spacer {
  flex: 1 1 auto;
}

.search-field {
  margin: 5px 25px;
}

.companyName{
  font-size: 150%;
}

.mat-toolbar{
  height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
  background-image: url(../assets/main_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 93vh !important;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-spacer {
  flex: 1 1 auto;
}

.items-sidebar {
  display: flex;
  flex-direction: column;

}
