<ng-container *ngIf="!user; else main">
  <app-auth></app-auth>
</ng-container>

<mat-sidenav-container class="sidenav-container" *ngIf="shouldRun" #main>
  <mat-sidenav #sidenav [mode]="mode.value">
    <p>
      <button mat-button (click)="sidenav.toggle()">Toggle</button>
    </p>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">3</a>
  </mat-sidenav>
  <mat-sidenav-content>
    <ng-template>
      <div>
        <app-header [user]="user"></app-header>
        <div class="general-wrapper">
          <p>
            <button mat-button (click)="sidenav.toggle()">Toggle</button>
          </p>
          <app-info-panel class="header-wrapper"></app-info-panel>
          <div class="main-wrapper" cdkDropListGroup>
            <div *ngFor="let item of itemsArray">
              <app-item [itemName]="item?.itemName" [genColor]="item.color" [arrayList]="item.array"></app-item>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>


