<div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="over">
      <div class="sidenav-item">
        <button mat-icon-button routerLink="board/{{default}}">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div class="sidenav-item">
        <span>Dreamteam Technologies</span>
      </div>
      <div class="sidenav-add" (click)="openBoardComp()">
        <button mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
        <span [style.font-size]="'15px'">Add New Board</span>
      </div>
      <mat-divider></mat-divider>
      <ng-container *ngFor="let i of (board$ | async)">
        <div class="sidenav-item">
          <div>
            <a [ngStyle]="{'font-size': '15px', 'margin-left': '15px'}" routerLink="board/{{i.id}}">{{i.name}}</a>
          </div>
          <div>
            <button mat-icon-button (click)="removeBoard(i.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
        <mat-divider></mat-divider>
      </ng-container>
    </mat-sidenav>
    <mat-sidenav-content>
      <app-header [user]="user" *ngIf="user">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </app-header>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
