<div class="sign-up-wrapper">
  <div class="inner-wrapper">
    <div class="main">
      <mat-toolbar-row class="mat-toolbar-row">
        <div class="toolbar-img">
          <img src="https://gene.theironnetwork.org/assets/img/logo-sign.png">
        </div>
        <span>
          <p>
            <span>Log In</span>
            <button mat-raised-button color="accent" class="login-btn">Login</button>
          </p>
        </span>
      </mat-toolbar-row>
      <div class="form-main-wrapper">
        <div class="from-wrapper">
          <mat-card class="mat-card">
            <div>
              <div class="get-started">
                <h2>Get Started With Dreamteam Technologies</h2>
              </div>
              <form>
                <div class="form-div">
                  <mat-form-field>
                    <mat-label>Name*</mat-label>
                    <input matInput type="text">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>E-Mail*</mat-label>
                    <input matInput type="text">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Password*</mat-label>
                    <input matInput type="text">
                  </mat-form-field>
                  <button mat-flat-button color="warn">GET STARTED</button>
                </div>
              </form>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
