<div class="dialog-wrapper">
  <h2 mat-dialog-title>Edit Task</h2>
  <div class="flex-wrapper">
    <mat-dialog-content class="mat-typography">
      <form [formGroup]="myForm" class="form">
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Task Name</mat-label>
            <input matInput class="input-item" [formControlName]="formControls.name" [value]="data?.currentTask?.name"
                   placeholder="Enter task name">
          </mat-form-field>
          <div *ngIf="isControlValid(formControls.name)" class="validate-hint">
            Please provide a name.
          </div>
        </div>
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Task Priority</mat-label>
            <mat-select [formControlName]="formControls.priority">
              <mat-option *ngFor="let priority of priorities" [value]="priority">
                {{priority}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="isControlValid(formControls.priority)" class="validate-hint">
            Please provide a priority.
          </div>
        </div>
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Task Groups</mat-label>
            <mat-select [formControlName]="formControls.group">
              <mat-option *ngFor="let group of filteredGroup" [value]="group.id">
                {{group.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div *ngIf="isControlValid(formControls.group)" class="validate-hint">
            Please provide a group.
          </div>
        </div>
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Assigned Users</mat-label>
            <mat-select [formControlName]="formControls.assignedUser">
              <mat-option *ngFor="let user of filteredUsers" [value]="user.name">{{user.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="input-wrapper">
          <mat-form-field appearance="fill">
            <mat-label>Task Description</mat-label>
            <textarea matInput placeholder="Enter task description" [formControlName]="formControls.description"
                      [value]="data?.currentTask?.description"></textarea>
          </mat-form-field>
          <div *ngIf="isControlValid(formControls.description)" class="validate-hint">
            Please provide a description.
          </div>
        </div>
      </form>
    </mat-dialog-content>
  </div>
  <mat-dialog-actions class="actions">
    <button mat-raised-button mat-dialog-close color="warn" (click)="goBack()">Cancel</button>
    <button mat-raised-button [mat-dialog-close]="true" color="primary" cdkFocusInitial [disabled]="myForm.invalid"
            (click)="updateForm(data?.currentTask?.id)">Update
    </button>
  </mat-dialog-actions>
</div>
