<div class="my-settings-wrapper">
  <div class="inner-wrapper">
    <div class="settings-header">
      <div>
        <h2 [style.font-weight]="'bold'">Profile</h2>
      </div>
      <div>
        <h3>Dashboard<span [style.font-weight]="'lighter'"> / Profile</span></h3>
      </div>
    </div>
    <div class="info">
      <div class="left-info">
        <div>
          <img width="70px" height="70px" [src]="user?.photoURL" [ngStyle]="{'border-radius': '50%'}">
        </div>
        <h2>{{user?.displayName}}</h2>
        <div>
          <div>
            <span>Creation time: {{user?.metadata?.creationTime | date: 'medium'}}</span>
            <mat-divider></mat-divider>
          </div>
          <div>
            <span>Last sign in: {{user?.metadata?.lastSignInTime | date: 'medium'}}</span>
            <mat-divider></mat-divider>
          </div>
          <div>Phone: {{user?.phoneNumber !== null ? user?.phoneNumber : "No phone number data"}}
            <mat-divider></mat-divider>
          </div>
          <div>Email: {{user?.email}}
          </div>
        </div>
      </div>
      <app-chart class="chart"></app-chart>
    </div>
  </div>
</div>
