.my-settings-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.inner-wrapper {
  min-width: 90%;
  max-height: 100vh;
  margin-top: 15px;
}

.settings-header {
  min-height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
