<button *ngIf="iconName === 'menu'" mat-icon-button>
  <mat-icon>{{iconName}}</mat-icon>
  {{buttonText}}
</button>
<button *ngIf="expand" mat-icon-button>
  <mat-icon>{{iconName}}</mat-icon>
</button>
<button *ngIf="stroked" mat-raised-button>
  <mat-icon *ngIf="iconName">{{iconName}}</mat-icon>
  {{buttonText}}
</button>
<button *ngIf="strokedColor" mat-raised-button color="primary">{{buttonText}}</button>

<button *ngIf="menuAccBtn" mat-icon-button [matMenuTriggerFor]="belowMenu">
  <mat-icon>{{iconName}}</mat-icon>
</button>
<mat-menu #belowMenu="matMenu" yPosition="below">
  <button mat-menu-item>My settings</button>
  <button mat-menu-item (click)="signOut()"> Log out</button>
</mat-menu>
